:root {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-grid {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 3px;
}

.game-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid black;
    background-color: grey;
    height: 150px;
    width: 150px;
    font-size: 70px;
}
